.quiz .liste {
  margin: 1% 6%;
}
.center {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .quiz .text-5xl {
    font-size: 30px;
  }
  .quiz .img .absolute {
    width: 100px;
  }
}

@media screen and (max-width: 425px) {
  .quiz .img .absolute {
    display: none;
  }
  .quiz .liens {
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
  }

  .quiz .liste {
    padding: 10px;
  }

  .-mt-14 {
    margin-top: 0;
  }
}
